<div class="legend">
  <div class="legend-item">
    <h4>Máscara</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/required-mask.png" alt="Máscara Obrigatória" />
        <p>Obrigátório</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/recommended-mask.png"
          alt="Máscara Recomendada"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Toalha</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/required-towel.png" alt="Toalha Obrigatória" />
        <p>Obrigátório</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/recommended-towel.png"
          alt="Toalha Recomendada"
        />
        <p>Recomendado</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Bebedouro</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img src="assets/images/partial-fountain.png" alt="Bebedouro Parcial" />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/not_allowed-fountain.png"
          alt="Bebedouro proibido"
        />
        <p>Proibido</p>
      </div>
    </div>
  </div>
  <div class="legend-item">
    <h4>Vestiários</h4>
    <div class="legend-images">
      <div class="legend-image">
        <img
          src="assets/images/allowed-lockerroom.png"
          alt="Vestiário Permitido"
        />
        <p>Liberado</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/partial-lockerroom.png"
          alt="Vestiário Parcial"
        />
        <p>Parcial</p>
      </div>
      <div class="legend-image">
        <img
          src="assets/images/closed-lockerroom.png"
          alt="Vestiário Fechado"
        />
        <p>Fechado</p>
      </div>
    </div>
  </div>
</div>
